<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/CSS/Main.css">
        <script defer src="../static/JS/Main.js"></script>
    </head>
  <body onload="PageLoad()">
    <div class="MainMenu">
        <div class = "MainMenuBTN"><a class = "MainMenuA" id="HomePageBTN" href="HomePage.html">דף הבית</a></div>
        <div class = "MainMenuBTN"><a class = "MainMenuA" id="RoomReservationBTN" href="RoomReservation.html">הזמנת חדר</a></div>
        <div class = "MainMenuBTN"><a class = "MainMenuA" id="ContactBTN" href="Contact.html">צור קשר</a></div>
        <div class = "MainMenuBTN"><a href="HomePage.html"><img src="../static/images/ClinicMyMeetingLogo.png"></a></img></div>
    </div>

    <div class = "HeaderContainer">
      <img src = "../static/images/MeetingRoom.png">
      <h1 class="HeaderText">
        צור קשר
      </h1>
    </div>
<div class="ParagraphContainer">
    <div class="halfScreen">
        <h1 id="FormHeader">
            לכל שאלה צרו איתנו קשר בטופס כאן
          </h1>
        <form id="ContactForm" method="POST">
            <div id="invalidName" class="InvalidField">שם חייב להכיל אותיות באנגלית בלבד</div>
            <input type="text" id="NameForm" class="FormItem" name="FullName" placeholder="שם">
            <div id="invalidEmail" class="InvalidField">אימייל חייב להתחיל בביטוי עם אותיות<br> ואז חייב להכיל @<br> ואז חייב להכיל ביטוי עם אותיות<br> ואז חייב להסתיים בסיומת של נקודה ועוד 2 או 3 אותיות</div>
            <input  type="email" id="EmailForm" class="FormItem" name="Email" placeholder="אימייל">
            <textarea class="FormItem" id="ReasonForm" name="Reason" placeholder="סיבת הפניה"></textarea>
            <input type="button" id="submitBTN" name="submit" value="שלח" onclick="ContactUs()">
        </form>
    </div>
    <div class="halfScreen">
        <h2 id="ContactInfo">
           כתובת: דיזינגוף 23, תל אביב
        <br>
           טלפון: 03-5492345
         <br>
          שעות פעילות: ימים ראשון עד חמישי
          <br>
          09:00-16:00
        </h2>
    </div>
</div>
  </body>
</html>
