doctype html
head
  link(rel='stylesheet' href='CSS/Main.css')
  script(defer='' src='JS/Main.js')
body(onload="PageLoad()")
  .MainMenu
    .MainMenuBTN
      a#HomePageBTN.MainMenuA(href='http://localhost:3000/HomePage') דף הבית
    .MainMenuBTN
      a#RoomReservationBTN.MainMenuA(href='http://localhost:3000/RoomReservation') הזמנת חדר
    .MainMenuBTN
      a#ContactBTN.MainMenuA(href='http://localhost:3000/Contact') צור קשר
    .MainMenuBTN
      a(href='http://localhost:3000/HomePage')
        img(src='images/ClinicMyMeetingLogo.png')
  .HeaderContainer
    img(src='images/MeetingRoom.png')
    h1.HeaderText
      | דף הבית
  .ParagraphContainer
    h1.BodyHeader
      | קצת עלינו
    p
      | לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית. סת אלמנקום ניסי נון ניבאה. דס איאקוליס וולופטה דיאם. וסטיבולום אט דולור, קראס אגת לקטוס וואל אאוגו וסטיבולום סוליסי טידום בעליק. קונדימנטום קורוס בליקרה, נונסטי קלובר בריקנה סטום, לפריקך תצטריק לרטי
  .ParagraphContainer2
    h1.BodyHeader
      | לקוחות מספרים...
    .recommendation
      img.recommendationImg(src='images/Recomendation1.jpg')
      p.recommendationP
        | לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק .קרורב המציש הירקולב וקומצ ,יבננ וקיבל חלמצ וטוסנמ ,אילב שצ ימחשצ תל - וענוף לפרומי בלוף קינץ תתיח לרעח לת צשחמי צש בליא, .האבינ ןונ יסינ םוקנמלא תס מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק.
    .recommendation
      img.recommendationImg(src='images/Recomendation2.jpg')
      p.recommendationP
        | נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק - וענוף קונסקטורר אדיפיסינג אלית. סת אלמנקום ניסי נון ניבאה. דס איאקוליס וולופטה דיאם. וסטיבולום אט דולור, קראס אגת לקטוס וואל אאוגו וסטיבולום סוליסי טידום בעליק. קונדימנטום קורוס בליקרה, נונסטי קלובר בריקנה סטום, לפריקך תצטריק לרטי
